<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.lucazanini.arpav">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ArpavApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".XmlActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".schedule.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            //TODO remove comment below and see https://developer.android.com/training/scheduling/alarms.html#boot
            <!--android:enabled="false">-->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!--TODO only for test-->
                <action android:name="eu.lucazanini.arpav.UPDATE_TIME" />
            </intent-filter>
        </receiver>

        <service
            android:name=".task.ReportService"
            android:exported="false" />
    </application>

</manifest>